html, body{
  height: auto !important;
  user-select: auto !important;
}
.items
  margin-bottom 10px
  .item_title
    font-size 14px
    color #333
    margin-bottom 8px
    font-weight 500
  .item_change
    font-size 14px
    color #333
    margin-top 8px
  .item_inline
    display inline-block

.wrapper_flex
  display flex
  flex-wrap: wrap;
  .item_flex
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding 15px
    .item_title
      font-size 14px
      color #333
      margin-top 8px

::-webkit-scrollbar
  width: 0
  background: transparent
